/* Landing */
.box1 {
    background:#EFE8E2 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 1366px;
    height: 686px;
    margin-top: -15px;
    margin-left: -7px;
}
.landing {
    color:#EFE8E2;
    opacity: 1;
    border-top: 0;
    left: 0px;
    width: 1366px;
    height: 686px;
}
a {
    text-decoration: none;
}
nav ul li a:link, nav ul li a:visited {
    color: #363636}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
    color: hsla(0, 0%, 21%, 1);}
nav ul li {
    padding: 17px;
    font-family: arial;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    display: inline;
    text-transform: uppercase;
}
nav ul {
    margin-right: 141px;
    float: right;
    margin-right: 141px;
    margin-top: 24px;
}
#logo {
    float: left;
    margin-left: 139.68px;
    margin-top: 10.45px;
    }


#Watch1 {
    float: left;
    height: 572px;
    width: 458px;
    margin-top: 74.45px;
    margin-left: 116px;
}
.float {
    float: right;
    margin-left: 169.28;
}
#landing h1 {
    font: Regular 24px/28px Arial;
    letter-spacing: 0;
    color: #6B76FF;
    opacity: 1;
    font-size: 24px;
    padding-top: 130.01px;
    margin-right: 563.66px;
    margin-bottom: 21.67;
}
#landing h2 {
    text-align: left;
    font: Bold 58px/67px Arial;
    letter-spacing: 0;
    color: #232323;
    opacity: 1;
    font-size: 58px;
    padding-top: .05x;
}
#landing h3 {
    font: Regular 20px/23px Arial;
    color: #787878;
    opacity: 1;
    font-size: 20px;
}
#landing h4 {
    font-family: Arial;
    opacity: 1;
    box-sizing: border-box;
    background-color: #6B76FF;
    display: inline;
    font-size: 15px;
    border-radius: 55px;
    padding: 12px 40px 11px 38px;
    color:white;
}

/* About */
.about h2 {
    text-align: center;
    font-family: arial;
    color: #232323;
    opacity: 1;
    font-size: 40px
}
#watch2 {
    float: right;
    width: 444px;
    height: 444px;
    margin-right: 140px;
    padding-top: 0px;
    margin-top: -340px;
}
.about p {
    text-align: left;
    font-family: arial;
    letter-spacing: -0.32px;
    color: #3B3B3B;
    opacity: 1;
    margin-left: 140px;
    font-size: 16px;
    line-height: 30px;
}
   

    /* features */
.features h2 {
    text-align: right;
    color: #232323;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 1%;
    padding-top: 15px;
}
        /* Boxes */
.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 84.8px;
}
#notification, #file, #message, #profile, #webinar, #calender {
    width: 283px;
    height: 283px;
    border-radius: 15px;
    padding: 77.1px 41.4px 75.68px 37.83px;
    box-sizing: border-box; 
}
    /* notification */
#notification {
    background-color: #6B76FF;
    box-shadow: #6B76FF; 
    margin-left: 168.72px;
}
#notification, #profile {
    margin-left: 168.72px;
}
#message, #calender {
    margin-right: 168.72px;
}
#notification img, #file img, #message img, #profile img, #webinar img, #calender img {
    opacity: 100%;
    width: 28px;
    height: 34px;
    position: relative;
    padding-left: 45%;
}
#notification h3, #notification h4 {
    color: #FFFFFF;
    font-family: arila;   
}
#notification h3, #file h3, #message h3, #profile h3, #webinar h3, #calender h3 {
    font-size: 20px;
    text-align: center; 
}
#notification h4, #file h4, #message h4, #profile h4, #webinar h4, #calender h4 {
    font-size: 14px;
    text-align: center; 
}
#file, #message, #profile, #webinar, #calender {
    box-shadow: 0px 0px 10px  #6b76ff66;
    color: #787878;
}
#message img {
    width: 28px;
    height: 25px;
}

/* testimonials */
#testimonials {
    width: 1366px;
    height: 585px;
    background-color: #002084;
    padding-top: 58.63;
    margin-top: 70px;
}   
#testimonials h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity: 1%;
    padding-top: 40px;
}
.tesbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 67.06px;
    margin-top: 70.15px;
}
.tes {
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 293px;
    height: 352px;
    border-radius: 10px;
    opacity: 1;
}
.tes h3 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    padding: 42.89px 43.61px 30px 39.38px;
}
.tes img {
    padding-bottom: 41.49px;
    padding-left: 34.46px;
    width: 68px;
    height: 68px;
    float: left;
    padding-right: 20.39px;
}
.tes h4 {
    letter-spacing: 0;
    color: #232323;
    opacity: 1;
    padding-left: 20.39px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 48.64;
    float: 50%;
    margin-bottom: -8.04;
}
.tes h5 {
    float: 50%;
    letter-spacing: 0;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: -20px;
}
#left {
    margin-left: 177px;
}
#right {
    margin-right: 177px;
}

